<div class="gallery">
  <figure class="gallery__item">
    <img src="hotel-1.jpg" alt="" class="gallery__photo" />
  </figure>

  <figure class="gallery__item">
    <img src="hotel-2.jpg" alt="" class="gallery__photo" />
  </figure>

  <figure class="gallery__item">
    <img src="hotel-3.jpg" alt="" class="gallery__photo" />
  </figure>
</div>

<style lang="scss">
  .gallery {
    display: flex;

    &__photo {
      width: 100%;
      display: block;
    }
  }
</style>
