---
import CTA from "./CTA.astro"
import Detail from "./Detail.astro"
import Gallery from "./Gallery.astro"
import Overview from "./Overview.astro"
---

<main class="hotel-view">
  <Gallery />

  <Overview />

  <Detail />

  <CTA />
</main>
