---
import Header from "../components/Header.astro"
import HotelView from "../components/HotelView.astro"
import Sidebar from "../components/Sidebar.astro"
import "../sass/main.scss"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />

    <title>trillo &mdash; Your all-in-one booking app</title>
  </head>
  <body>
    <div class="container">
      <Header />

      <div class="content">
        <Sidebar />

        <HotelView />
      </div>
    </div>
  </body>
</html>
