<section class='features'>
  <div class='feature'>
    <svg class='feature__icon'>
      <use xlink:href='sprite.svg#icon-global'></use>
    </svg>
    <h4 class='heading-4 heading-4--dark'>World's best luxury homes</h4>
    <p class='feature__text'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sed
      porro error nobis minus possimus.
    </p>
  </div>

  <div class='feature'>
    <svg class='feature__icon'>
      <use xlink:href='sprite.svg#icon-trophy'></use>
    </svg>
    <h4 class='heading-4 heading-4--dark'>Only the best properties</h4>
    <p class='feature__text'>
      Laborum nisi ea minim irure aliqua duis et magna minim proident voluptate nisi tempor. 
    </p>
  </div>

  <div class='feature'>
    <svg class='feature__icon'>
      <use xlink:href='sprite.svg#icon-map-pin'></use>
    </svg>
    <h4 class='heading-4 heading-4--dark'>All homes in top locations</h4>
    <p class='feature__text'>
      Deserunt sint cupidatat deserunt nulla ad nulla magna voluptate aliqua aliquip commodo. 
    </p>
  </div>

  <div class='feature'>
    <svg class='feature__icon'>
      <use xlink:href='sprite.svg#icon-key'></use>
    </svg>
    <h4 class='heading-4 heading-4--dark'>New home in one week</h4>
    <p class='feature__text'>
      Nostrud ad nisi aute laboris laborum tempor cillum ipsum culpa aliqua mollit esse consectetur sit. 
    </p>
  </div>

  <div class='feature'>
    <svg class='feature__icon'>
      <use xlink:href='sprite.svg#icon-presentation'></use>
    </svg>
    <h4 class='heading-4 heading-4--dark'>Top 1% realtors</h4>
    <p class='feature__text'>
      Dolor quis enim esse magna aute dolore velit eiusmod id elit. Ipsum mollit labore amet ut sit id ad quis.
    </p>
  </div>

  <div class='feature'>
    <svg class='feature__icon'>
      <use xlink:href='sprite.svg#icon-lock'></use>
    </svg>
    <h4 class='heading-4 heading-4--dark'>Secure payments on nexter</h4>
    <p class='feature__text'>
      Eu Lorem irure cupidatat magna aliquip duis dolor enim est voluptate elit fugiat.
    </p>
  </div>
</section>
