<section class='gallery'>
  <figure class='gallery__item gallery__item--1'>
    <img src='gal-1.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--2'>
    <img src='gal-2.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--3'>
    <img src='gal-3.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--4'>
    <img src='gal-4.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--5'>
    <img src='gal-5.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--6'>
    <img src='gal-6.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--7'>
    <img src='gal-7.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--8'>
    <img src='gal-8.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--9'>
    <img src='gal-9.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--10'>
    <img src='gal-10.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--11'>
    <img src='gal-11.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--12'>
    <img src='gal-12.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--13'>
    <img src='gal-13.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>

  <figure class='gallery__item gallery__item--14'>
    <img src='gal-14.jpeg' alt='Gallery Image' class='gallery__img' />
  </figure>
</section>
