<header class='header'>
  <img src='logo.png' alt='Logo' class='header__logo' />

  <h3 class='heading-3'>Your own home:</h3>

  <h1 class='heading-1'>The ultimate personal freedom</h1>

  <button class='btn header__btn'> View our properties</button>

  <div class='header__seeon-text'>Seen on</div>

  <div class='header__seeon-logos'>
    <img src='logo-bbc.png' alt='Logo' />
    <img src='logo-forbes.png' alt='Logo' />
    <img src='logo-techcrunch.png' alt='Logo' />
    <img src='logo-bi.png' alt='Logo' />
  </div>
</header>
